:root {
  --primary-color: #11B86A;
  --secondary-color: #ffffff;
  --initials-font-size: 250px;
}

body {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-container {
  box-sizing: border-box;
  color: var(--secondary-color);
  border-top-width: 20px;
  border-right-width: 20px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  border-style: solid;
  border-color: var(--secondary-color);
  border-radius: 50%;
  height: calc(var(--initials-font-size) * 3);
  width: calc(var(--initials-font-size) * 3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  width: calc(var(--initials-font-size) * 2.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#initials, #full-name {
  text-transform: uppercase;
}

#initials {
  font-family: 'Quicksand', sans-serif;
  font-size: var(--initials-font-size);
  height: var(--initials-font-size);
  padding-bottom: calc(var(--initials-font-size) / 6);
}

#full-name {
  font-family: 'Passion One', cursive;
  font-size: calc(var(--initials-font-size) / 5);
}