:root {
  --primary-color: #11B86A;
  --secondary-color: #ffffff;
}

body {
  background-color: var(--primary-color);
}

#logo {
  color: var(--secondary-color);
}

#initials, #full-name {
  text-transform: capitalize;
}