:root {
  --primary-color: #11B86A;
  --secondary-color: #ffffff;
  --initials-font-size: 200px;
}

body {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-container {
  box-sizing: border-box;
  color: var(--secondary-color);
  border-top-width: calc(var(--initials-font-size) / 12.5);
  border-right-width: calc(var(--initials-font-size) / 8);
  border-bottom-width: calc(var(--initials-font-size) / 100);
  border-left-width: 0px;
  border-style: double;
  border-color: var(--secondary-color);
  border-radius: 50%;
  height: calc(var(--initials-font-size) * 3);
  width: calc(var(--initials-font-size) * 3);
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: border;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

.text {
  width: calc(var(--initials-font-size) * 2.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#initials, #full-name {
  text-transform: uppercase;
}

#initials {
  font-family: 'Quicksand', 'Quicksand Light', sans-serif;
  font-size: var(--initials-font-size);
  height: var(--initials-font-size);
  padding-bottom: calc(var(--initials-font-size) / 6);
}

#full-name {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: calc(var(--initials-font-size) / 7);
}

@keyframes border {
  0% {
    border-color: transparent;
  }
  60% {
    border-color: transparent;
  }
  100%   {
    border-color: var(--secondary-color);
  }
}